<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="">
    {% csrf_token %}
 <div><input type="text" name="username" placeholder="username"></div>
     <div><input type="text" name="password" placeholder="password"></div>
   <div><input type="submit" value="login"></div>
</form>

  {% for message in messages%} <!-- we loop through messages so that all messages will be displayed -->
  {{ message }}
  {% endfor %}
<span> <a href="{% url 'Home:signup' %}"> signup</a></span>
</body>
</html>