Collecting stripe
  Downloading stripe-2.55.1-py2.py3-none-any.whl (204 kB)
Collecting requests>=2.20; python_version >= "3.0"
  Downloading requests-2.25.1-py2.py3-none-any.whl (61 kB)
Collecting certifi>=2017.4.17
  Downloading certifi-2020.12.5-py2.py3-none-any.whl (147 kB)
Collecting chardet<5,>=3.0.2
  Downloading chardet-4.0.0-py2.py3-none-any.whl (178 kB)
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.3-py2.py3-none-any.whl (137 kB)
Collecting idna<3,>=2.5
  Using cached idna-2.10-py2.py3-none-any.whl (58 kB)
Installing collected packages: certifi, chardet, urllib3, idna, requests, stripe
Successfully installed certifi-2020.12.5 chardet-4.0.0 idna-2.10 requests-2.25.1 stripe-2.55.1 urllib3-1.26.3
